
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: "${APP_NAME}:${APP_VERSION}"
    container_name: "${APP_NAME}"
    env_file:
      - .env
    environment:
      TZ: ${TIMEZONE}
    ports:
      - "8888:8888"
    volumes:
      - .:/app
      - ./logs:/app/logs
    restart: unless-stopped